﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage.master" CodeBehind="LO_Summary.aspx.vb" Inherits="EIR.LO_Summary" %>
<%@ Register src="PageNavigation.ascx" tagname="PageNavigation" tagprefix="uc1" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<asp:UpdatePanel ID="UDPMain" runat="Server">
<ContentTemplate>
<!-- Page Head -->
			<h2>Lube Oil Reports</h2>
					
			<div class="clear"></div> <!-- End .clear -->
			
			<div class="content-box"><!-- Start Content Box -->
			  <!-- End .content-box-header -->
              <div class="content-box-header">
                <h3>Filter</h3>
                
				        <asp:DropDownList CssClass="select" style="position:relative; top:5px;" 
                          ID="ddl_Search_Year" runat="server" AutoPostBack="True">
                        </asp:DropDownList>
                        
				         <asp:DropDownList CssClass="select" style="position:relative; top:5px;" 
                          ID="ddl_Search_Month" runat="server" AutoPostBack="True">
                        </asp:DropDownList>
                        
    				    <asp:DropDownList CssClass="select" style="position:relative; top:5px;" 
                          ID="ddl_Search_ReportType" runat="server" AutoPostBack="True">
                          <asp:ListItem Value="0">Choose Report Type ...</asp:ListItem>
                                <asp:ListItem Value="2">Quaterly</asp:ListItem>
                                <asp:ListItem Value="1">Monthly</asp:ListItem>
                        </asp:DropDownList>
								
    					<asp:DropDownList CssClass="select" style="position:relative; top:5px;" 
                          ID="ddl_Search_Status" runat="server" AutoPostBack="True">
                        </asp:DropDownList>						
                           
                       &nbsp; &nbsp;<asp:CheckBox ID="chk_Search_Edit" runat="server" AutoPostBack="True" style="position:relative; top:10px;" Text="" /> 
                  &nbsp; <b style="position:relative; top:8px;" id="lblEditable" runat="server">Editable</b>
                  <div class="clear"></div>
              </div>
			             
              <div class="content-box-content">
                <div class="tab-content default-tab" id="tab1">
                  <!-- This is the target div. id must match the href of this div's tab -->
                 <asp:Panel ID="pnlBindingError" runat="server" CssClass="notification attention png_bg">
                      <asp:ImageButton ID="btnBindingErrorClose" runat="server" ImageUrl="resources/images/icons/cross_grey_small.png" ToolTip="Close" CssClass="close" />
                      <div> <asp:Label ID="lblBindingError" runat="server"></asp:Label></div>
                  </asp:Panel>
                    
                          <table>
                            <thead>
                              <tr>
                                <th rowspan="2"><a href="#">Code</a></th>
                                <th rowspan="2"><a href="#">Year</a></th>
                                <th rowspan="2"><a href="#">Month</a></th>
                                <th colspan="3" style="text-align:center;"><a href="#">Tags</a></th>
                                <th rowspan="2"><a href="#">Period</a></th>                                
                                <th rowspan="2"><a href="#">Plan Start</a></th>
                                <th rowspan="2"><a href="#">Actual Start</a></th>
                                <th rowspan="2"><a href="#">Status</a></th>
                                <th rowspan="2"><a href="#">Action</a></th>
                              </tr>
                              <tr>
                                <th style="text-align:center;"><a href="#" class="TextNormal">Normal</a></th>
                                <th style="text-align:center;"><a href="#" class="TextClassA">Abnormal</a></th>
                                <th style="text-align:center;"><a href="#">Total</a></th>                                
                              </tr>
                            </thead>
                            <asp:Repeater ID="rptPlan" runat="server">
                                   <HeaderTemplate>
                                     <tbody>
                                     </HeaderTemplate>
                                      <ItemTemplate>
                                          <tr>
                                            <td><asp:Label ID="lblRptNo" runat="server"></asp:Label></td>
                                            <td><asp:Label ID="lblYear" runat="server"></asp:Label></td>
                                            <td><asp:Label ID="lblMonth" runat="server"></asp:Label></td>
                                            
                                            <td style="text-align:center;"><asp:Label ID="lblNormal" runat="server" CssClass="TextNormal" Font-Bold="True"></asp:Label></td>
                                            <td style="text-align:center;"><asp:Label ID="lblAbnormal" runat="server" CssClass="TextClassA" Font-Bold="True"></asp:Label></td>
                                            <td style="text-align:center;"><asp:Label ID="lblTotal" runat="server" CssClass="TextNormal" Font-Bold="True"></asp:Label></td>
                                            
                                            <td><asp:Label ID="lblTagType" runat="server"></asp:Label></td>                                            
                                            <td><asp:Label ID="lblPlanPeriod" runat="server"></asp:Label></td>
                                            <td><asp:Label ID="lblActualStart" runat="server"></asp:Label></td>
                                            <td><asp:Label ID="lblStatus" runat="server"></asp:Label></td>
                                            <td><!-- Icons -->
                                              <asp:Image ID="imgLock" runat="server" ImageUrl="resources/images/icons/lock.png" BorderStyle="None" ToolTip="Lock" />
                                              <asp:ImageButton ID="btnEdit" runat="server" ImageUrl="resources/images/icons/user.png" BorderStyle="None" CommandName="Edit" />
                                              <asp:ImageButton ID="btnCreate" runat="server" ImageUrl="resources/images/icons/pencil.png" BorderStyle="None" CommandName="Create" /> 
                                              <cc1:ConfirmButtonExtender ID="cfbCreate" runat="server" TargetControlID="btnCreate" />                                       
                                              <a ID="btnReport" runat="server" href="javascript:;"><img src="resources/images/icons/printer.png" border="0"></a>
                                            </td>
                                          </tr>
                                       </ItemTemplate>
                                          
                                       <FooterTemplate>
                                     </tbody>
                                    </FooterTemplate>
                                </asp:Repeater>
                            <tfoot>
                              <tr>
                                <td colspan="7">
                                <div class="bulk-actions align-left">                             
                                    <asp:LinkButton ID="btnConstruct" runat="server" CssClass="button" Text="Construct plan"></asp:LinkButton>
                                </div>
                                    <uc1:PageNavigation ID="Navigation" runat="server" />
                                  <!-- End .pagination -->
                                  <div class="clear"></div>  
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                 
                </div>
                <!-- End #tab1 -->
               
                
    </div>
    </div>
    
</ContentTemplate>
</asp:UpdatePanel> 
</asp:Content>