﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_TextEditor.ascx.vb" Inherits="EIR.UC_TextEditor" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit.HTMLEditor" TagPrefix="cc1" %>
<cc1:Editor  runat="server" ID="editor1" Height="300" AutoFocus="false" AutoPostback="true" Width="100%" DocumentCssPath="resources/css/myCustomEditorDocument.css" NoScript="True" >
    

</cc1:Editor >
