﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_Template_4.ascx.vb" Inherits="EIR.UC_Template_4" %>

<asp:Label ID="lblProperty" runat="server" Text="" Style="display: none;"></asp:Label>

<tr style="text-align: center">
    <td style="width: 50%; text-align: center;" colspan="2">
         <table style="background-color: white;">
            <tr style="border-style: solid; border-width: thin; border-color: #C0C0C0;">
                <td style="vertical-align: middle;text-align :center ;">
                    <asp:ImageButton ImageUrl="RenderImage_ST_TA_Sector.aspx" ID="ImgPreview1" runat="server" onError="this.src='resources/images/File_Sector.png'" AlternateText="..." Style="cursor: pointer; text-align: center; max-width: 100%; min-width: 50%;" />
                    <asp:Button ID="btnRefreshImage1" runat="server" Text="Update/Refresh" Style="visibility: hidden; width: 0px;" />
                </td>
            </tr>
        </table>
    </td>
</tr>