﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_Template_5.ascx.vb" Inherits="EIR.UC_Template_5" %>
<%@ Register Src="~/Summernote/UC_SummerNote.ascx" TagPrefix="uc1" TagName="UC_SummerNote" %>


<asp:Label ID="lblProperty" runat="server" Text="" Style="display: none;"></asp:Label>
<tr  style="text-align: center">
    <td style="width: 100%; vertical-align :top ;" colspan ="2" >
       <table style="background-color: white;" >
            <tr>
                <td>
                    <uc1:UC_SummerNote runat="server" ID="TextEditor1" />
                </td>
            </tr>
        </table>
    </td> 
</tr>