﻿
.File_Album {
    font-size: 13px;    
    border:1px solid #cccccc;     
    padding-left:10px;   
    padding-right:10px;
    padding-bottom:10px;   
}
.File_Toolbar {
    width:100%+10px;
    min-height:42px;
    background:#e5e5e5 top left repeat-x;
    border-bottom:1px solid #cccccc;
    margin-left:-10px;
    padding-left: 10px;
    margin-right:-10px;
    margin-bottom:10px;
    overflow-y: -webkit-paged-y;
}
.File_Thumbnail {
    width:150px;
    background-color:#eeeeee;
    display: inline-block;
    margin:10px;
    vertical-align:top;
}

.File_Thumbnail:hover .File_Zoom_Mask, .File_Thumbnail:hover .File_Command {
    display:unset;
}

.File_Zoom_Mask {
    border:none;
    position:absolute;
    width:150px;
    height:130px;
    background-color:#999999;
    background-repeat: no-repeat;
    background-position:center;
    cursor:pointer;
    background-image:url('../images/icons/zoom_white_16.png');
    opacity:0.75;
    display:none;
    z-index:2;
}

/*
td:hover .File_Zoom_Mask{
    display: unset; 
}*/

.File_Command {                       
    height:20px;
    width:150px;
    overflow:hidden;
    text-align:center;
    background-color:black;
    opacity:0.7;
    display:none;
}
.File_Command input[type="image"] {
    margin-right:5px;
    margin-left:5px;
    width:14px;
    height:14px;
}
.File_Image {
    /*width:150px;*/
    height:150px;
    border:none;
    overflow:hidden;
    display:flex;
    align-items :flex-end;
    text-align:center;
    background-color:#cccccc;
    background-repeat: no-repeat;
    background-size:cover; 
    background-position:center;
    cursor:pointer;       
}


                     
.File_Title {                        
    text-align:center;
    background-color:#e5e5e5;
    font-size:11px;
    overflow-x:hidden;
    padding:5px;
    cursor:pointer;
}