/* CSS Document */

/********************************      Sidebar      ********************************/

#sidebar {
               
                width: 230px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                color: #ccc;
                font-size: 11px;
                overflow:visible;
                }

#sidebar #sidebar-wrapper {
                margin: 0 0 0 9px;
                
                }

#sidebar a,
#sidebar a:active {
                color:#333;
                }

#sidebar a:hover {
                color:#333;
                }

#sidebar #sidebar-title {
                margin: 40px 0 40px 15px;
                }

#sidebar #logo {
                margin:  15px 0 10px 0;
                }

#sidebar #profile-links {
                padding: 0 15px 20px 15px;
                text-align: right;
                line-height: 1.5em;
				color:#333;
                }

/************ Sidebar Accordion Menu ************/

.sidebar_header
    {
    			overflow:hidden;
                font-size: 14px;
    	        width: 210px;
    	        height:35px;
                padding-right: 5px;
                padding-bottom: 3px;
                margin: 0 0 0 0px;
                
                text-align: right;
                background: transparent url('../images/bg-menu-item-green.gif') right no-repeat !important;
                cursor: pointer;
                display: block;
                text-decoration: none;
                color: #ffffff !important;
    	}
    .sidebar_header a
    {
    	 padding-top:10px;
    	 color: #ffffff !important;    
    	 background: transparent no-repeat !important;	     
    	}
    	
    .sidebar_item
    {
    	    
            font-size: 12px;
            text-align: right;
		    padding-bottom:10px;
		    width: 210px;
		    
    	}
    .sidebar_item a
    {
    	list-style: none;
    	
        display: block;
        color:#cccccc !important;
        font-size: 13px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:5px;
    	}
     .sidebar_item a:hover
     {
    	color:#eeeeee !important;
     	}
