﻿body {
}

/*td {
  background-color: white ;
}

td:hover {
  background-color: gainsboro;
}*/

.tdStep:hover {
     background-color:gainsboro;
}



.propertyTable {
    /*border:1px solid #CCCCCC; */
    width:100%;
}

.propertyTable td {
    border:1px solid #CCCCCC;
    font-weight:normal;
    padding:5px 5px 5px 5px;
    height:22px;
    vertical-align:middle;
}

.propertyTable input[type="text"]
{
    width:100%;
    height:100%;
    border:none; 
    text-align:left; 
    background-color:Transparent;
}

.propertyTable select
{
    width:100%;
    border:none; 
    text-align:left; 
    background-color:Transparent;
}

.propertyTable .propertyGroup {
    font-weight:bold; 
    font-size:14px;
    }
.propertyCaption {
    background-color:silver;
}
        
.FileAlbum {
    width:100%;
    height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}

.item {
    cursor:pointer;
    overflow: hidden;
    display: block;
    width:150px;
    height:150px;
    float:left;
    margin: 5px;
    border:1px solid #efefef;
    vertical-align:middle;
    text-align:center;
    background-color:black;
}

.item .thumbnail {
    width:150px; 
    height:120px; 
    overflow:hidden;
}               

.item .toolbar {
    margin-top:5px;
    height:20px;
    width:150px;
    background-color:black;
    text-align:center;        
}


/*Ex*/

.propertyTable_Heat {
    /*border:1px solid #CCCCCC; */
    width:300px;
}