﻿
.propertyTable {
    /*border:1px solid #CCCCCC; */
    width:100%;
}

.propertyTable td {
    border:1px solid #CCCCCC;
    font-weight:normal;
    padding:5px 5px 5px 5px;
    height:22px;
    vertical-align:middle;
}

.propertyTable input[type="text"]
{
    width:100%;
    height:100%;
    border:none; 
    text-align:left; 
    background-color:Transparent;
}

.measurementGrid td {
    text-align:center;
}
.propertyTable select, .propertyTable input[type=text]
{
    width:100%;
    border:none; 
    text-align-last:center; 
    background-color:Transparent;
}

.propertyTable .propertyGroup {
    font-weight:bold; 
    font-size:14px;
    }
.propertyCaption {
    background-color:#efefef;
}

.propertyUnit {
    background-color:#efefef;
}
        
.input_text_center {
    text-align-last:center;
}

.tbPointList {
    width:100%; 
    font-size:13px;
}

.tbPointList tr {
    cursor:pointer;
    
}

.tbPointList td,.tbTagList td {
    border-top:1px solid #eeeeee;
    
}

.tbPointList tr:hover td {
    background-color:#DAE7FC;
}

.tbPointList tr.selected:hover td ,
.tbPointList tr.selected td
{
    background-color:cornflowerblue;
    color:white;
}


#CUI_ERO_Class tr td{
    vertical-align:middle;
    text-align:left;
}

.trSelected td{
    background-color:cornflowerblue;
    font-weight:bold;
}

.trClassA td {
   background-color:#FF0000;
   color:#FFFFFF;
}

.trClassB td {
    background-color:#FFAA00;
	color:#FFFFFF;
}

.trClassC td {
    background-color:#FFFF99;
    color:#333333;
}

.trNormal td {
    background-color:Green;
    color:#FFFFFF;
}

.photograph_Sector td{
    vertical-align:top;
}