
/********************************      Basic Structure      ********************************/

html {
                font-size: 100%;
                height: 100%;
                margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
                }

body {
                font-family:  Arial, sans-serif;
                color: #555;
                background: #f0f0f0 url('../images/bg-body.gif') top left repeat-y;
                font-size: 12px;
                }

#body-wrapper {
                background: url('../images/bg-radial-gradient.gif') fixed 230px top no-repeat;
                }                

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
                font-family: Helvet Arial, sans-serif;
                color: #222;
                font-weight: bold;
                }

h1            { font-family: Calibri, 'Microsoft Sans Serif', Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
				  position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
				}
				
h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
                padding: 5px 0 10px 0;
                line-height: 1.6em;
                }

/********************************      General Classes      ********************************/

.clear {
                clear: both;
                }
				
.align-left {
                float: left;
                }
				
.align-right {
                float: right;
                }

/************ Button ************/
.button {
				font-family: Verdana, Arial, sans-serif;
                display: inline-block;
                /*background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;*/
                background: #459300;
                border: 1px solid #459300 !important;
                padding: 4px 7px 4px 7px !important;
                color: #fff !important;
                font-size: 11px !important;
                cursor: pointer;
                }
.button-default {
                background-color:#ccc;
                }

.button:hover {
                text-decoration: underline;
                }
                
.button:active {
                padding: 5px 7px 3px 7px !important;
                }
				
a.remove-link {
				color: #bb0000;
				}

a.remove-link:hover {
				color: #000;
				}

/********************************      Sidebar      ********************************/

#sidebar {
                background: url('../images/bg-sidebar.gif') top left no-repeat;
                width: 230px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                color: #ccc;
                font-size: 11px;
                }

#sidebar #sidebar-wrapper {
                margin: 0 0 0 9px;
                }
#sidebar .ctl00_LeftMenu
{
	overflow:visible;
	}
#sidebar a,
#sidebar a:active {
                color:#ccc;
                }

#sidebar a:hover {
                color:#fff;
                }

#sidebar #sidebar-title {
                margin: 40px 0 40px 15px;
                }

#sidebar #logo {
                margin:  15px 0 10px 0;
                }

#sidebar #profile-links {
                padding: 0 15px 20px 15px;
                text-align: right;
                line-height: 1.5em;
                }

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
                width: 206px;
                padding: 0;
                margin: 0 0 0 15px;
                font-family: 'Microsoft Sans Serif', Arial, sans-serif;
                }

#sidebar #main-nav li {
                list-style: none;
                padding-bottom: 10px;
                text-align: right;
                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
                }

#sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
                }
                
#sidebar #main-nav li a.current:hover {
                color: #333;
                }

#sidebar #main-nav ul {
                padding: 0;
                font-size: 12px;
                margin: 0;
                }

#sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
				padding: 0;
                }

#sidebar #main-nav ul li a {
                padding: 8px 15px;
                display: block;
                color:#ccc;
                font-size: 13px;
                line-height: 1.2em;
                }

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
                color: #fff;
                }

#sidebar #main-nav ul li a.current {
                background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                }


/************ Messages ************/

#messages p,
#messages form {
                border-top: 1px solid #ddd;
                padding: 10px 0;
                }

#messages h4 {
                padding: 10px 0;
                }
				
#messages fieldset {
                margin: 0;
                }
				
#messages textarea {
                margin: 0 0 15px 0;
                }
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
                margin: 0 30px 0 260px;
                padding: 40px 0 0 0;
                }

.column-left {
                width: 48%;
                float: left;
                }
				
.column-right {
                width: 48%;
                float: right;
                }

.dialog-col-left {
                width: 180px;
                float: left;
                }
				
.dialog-col-right {
                width: 400px;
                float: left;
                }
               
#page-intro {
                font-size: 17px;
                padding: 0 0 20px 0;
                }
.page-intro {
                font-size: 17px;
                padding: 0 0 20px 0;
                }
				
#footer {
				border-top: 1px solid #ccc;
				margin: 40px 0 0 0;
				padding: 20px 0;
				font-size: 12px;
                }
/************ Lists ************/

#main-content ul,
#main-content ol {
                padding: 10px 0;
                }

/* Unordered List */

#main-content ul li {
                background: none;
                padding: 4px 0 4px 4px;
                }

/* Ordered List */

#main-content ol {
                padding: 0 0 0 24px;
                }

#main-content ol li {
                list-style: decimal;
                padding: 4px 0;
                }

/*************** Content Box ***************/

.content-box {
                border: 1px solid #ccc;
                margin: 0 0 20px 0;
                background: #fff;
                }

.content-box-header {
                background: #e5e5e5 url('../images/bg-content-box.gif') top left repeat-x;
                margin-top: 1px;
                height: 40px;
                }

.content-box-header h3 {
                padding: 12px 15px 10px;
                float: left;
                }

ul.content-box-tabs {
                float: right;
                padding: 12px 15px 0 0 !important;
				margin: 0 !important;
                }

ul.content-box-tabs li {
                float: left;
                margin: 0;
                padding: 0 !important;
                background-image: none !important;
                }
                
ul.content-box-tabs li a {
                color: #333;
                padding: 8px 10px;
                display: block;
                margin: 1px;
                border-bottom: 0;
                }

ul.content-box-tabs li a:hover {
                color: #57a000;
                }              
                
ul.content-box-tabs li a.current {
                background: #fff;
                border: 1px solid #ccc;
                border-bottom: 0;
                margin: 0;
                }

.content-box-content {
                padding: 20px;
                font-size: 13px;
                border-top: 1px solid #ccc;
                }
                
/************ Table ************/

#main-content table {
                width: 100%;
                border-collapse: collapse;
                }
                
#main-content table thead th {
                font-weight: bold;
                font-size: 15px;
                border-bottom: 1px solid #ddd;
                }
                
#main-content tbody {
                border-bottom: 1px solid #ddd;
                }
                
#main-content tbody tr {
                /**background: #fff; !important;**/
                }
              
#main-content tbody tr.alt-row {
                 /**background: #f3f3f3; !important;**/
                }
                
#main-content table td,
#main-content table th {
                padding: 5px;
                line-height: 1.3em;
    }        
				
#main-content table tfoot td .bulk-actions {
                padding: 15px 0 5px 0;
                } 
				
#main-content table tfoot td .bulk-actions select {
                padding: 4px;
				border: 1px solid #ccc;
                }      


.table_vibration td
{
                padding: 2px !important;
                border: 1px solid #ccc;
                margin:2px 2px 1px 2px !important;
                } 
      
.table_ISO
{
				background-color:white;
}
.table_ISO td
{
                padding: 0px !important;
                border: 0.2px solid #efefef;
                font-size:9px; 
				text-align:center;
                } 

.button_ISO
{
				font-size:9px; 
				font-weight:normal;
				border:0px None white;
				width:100%;
				padding:0px;
				width:60px;
				height:13px;
}

.btnISO_A
{
				background-color:#3399ff; 
				color:#000000;
				border:1px solid #3399ff; 
}
	
.btnISO_B
{
				background-color:Green; 
				color:#ffffff;
				border:1px solid Green; 
}

.btnISO_C
{
				background-color:Yellow; 
				color:#000000;
				border:1px solid Yellow; 
}

.btnISO_D
{
				background-color:Red; 
				color:#000000;
				border:1px solid Red;
}

.select{
				padding: 4px;
				border: 1px solid #ccc;
}

/*************** Report & Level ***************/	
.EditReportHeader
{
				color:#3399CC;
				font-size:16px;
				font-weight:bold;
	}	

.LevelZoneA{
				background-color:#3399ff;
				color:#333333;
}

.LevelZoneB{
				background-color:Green;
				color:#FFFFFF;
}

.LevelZoneC{
				background-color:#FFFF99;
				color:#333333;
}
.LevelZoneD{
				background-color:#ff0000;
				color:#ffffff;
}
.LevelUnknowZone{
				background-color:inherit;
				color:inherit;
}

.TextZoneA{
				color:#3399ff;
}
.TextZoneB{
				color:Green;
}
.TextZoneC{
				color:#FFCC33;
}
.TextZoneD{
				color:#ff0000;
}
	
.LevelClassA{
				background-color:#FF0000;
				color:#FFFFFF !important;
}

.LevelClassB{
				background-color:#FFAA00;
				color:#FFFFFF !important;
}

.LevelClassC{
				background-color:#FFFF99;
				color:#333333 !important;

}
.LevelNormal{
				/**background-color:#66CC33;**/
				background-color:Green;
				color:#FFFFFF !important;
				
}
.LevelDeselect{
				background-color:#ffffff;
				color:black;
}
.TextClassA{
				color:#FF0000;
}
.TextClassB{
				color:#FF9900;
}
.TextClassC{
				color:#FFCC33;
}
.TextNormal{
				/**color:#66CC33**/
				color:Green;
}

.TextNA{
				color:Gray;
}

.Lube_Oil_Level_0
{
    background-color:#92D14F;    
}
.Lube_Oil_Level_1
{
    background-color:#5AA8F2;
}
.Lube_Oil_Level_2
{
    background-color:#FFFF00;
}
.Lube_Oil_Level_3
{
    background-color:#FE0000;
    color:White;
}
.Lube_Oil_Level_4
{
    background-color:#990000;
    color:White;
}

.LO_Very_Hight
{
    background-color:#a50021;
    color:Black;
}

.LO_Hight
{
    background-color:#ff0000;
    color:Black;
}

.LO_Alarm
{
    background-color:#ffff00;
    color:Black;
}

.LO_Warning
{
    background-color:#59a9f2;
    color:Black;
}

.LO_Abnormal
{
    background-color:#ff6501;
    color:Black;
}

.LO_Normal
{
    background-color:#92d050;
    color:Black;
}

/*************** Pagination ***************/

#main-content .pagination {
                text-align: right;
                padding: 20px 0 5px 0;
                font-family: Verdana, Arial, 'Microsoft Sans Serif', sans-serif;
                font-size: 10px;
                }
.pagination a {
                margin: 0 5px 0 0;
                padding: 3px 6px;
                }

.pagination a.number {
				border: 1px solid #ddd;
                }

.pagination a.current {
                background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
                border-color: #459300 !important;
                color: #fff !important;
                }
				
.pagination a.current:hover {
				text-decoration: underline;
                }

/************ Shortcut Buttons ************/

.shortcut-button {
                border: 1px solid #ccc;
                background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
                display: block;
                width: 100px;
                margin: 0 0 20px 0;
                }

.shortcut-button span {
                border: 1px solid #fff;
                display:block;
                padding: 2px;
                text-align: center;
                color: #555;
                font-size: 10px;
                line-height: 1.3em;
                }

.shortcut-button span img {
                margin-bottom: 10px;
                }

.shortcut-button:hover {
                background: #fff;
				
                }
				
.shortcut-button span:hover {
				color: #57a000; 
                }

ul.shortcut-buttons-set li {
                float: left;
                margin: 0 15px 0 0;
				padding: 0 !important;
				background: 0;
                }

/*************** Forms ***************/

form label {
                display: block;
                padding: 0 0 10px;
                font-weight: bold;
                }
             
form fieldset legend {
                font-weight: bold;
                margin-bottom: 10px;
                padding-top: 10px;
                }
                
form p small {
                font-size: 0.75em;
                color: #777;
                }
				
				
form input.text-input,
form select,
form textarea,
form .wysiwyg {
                padding: 6px;
                font-size: 13px;
                background: #fff url('../images/bg-form-field.gif') top left repeat-x;
                border: 1px solid #d5d5d5;
				color: #333;
                }
            
form .small-input {
                width: 150px ;
				
                }
                
form .medium-input {
                width: 250px ;
                }
                
form .large-input {
                width: 97.5% !important;
				font-size: 16px !important;
				padding: 8px !important;
                }
                
form textarea {
                width: 97.5% !important;
                font-family: 'Microsoft Sans Serif', sans-serif;
                }
                
form select {
                padding: 4px;
                background: #fff;
                }
				
form input[type="checkbox"],
form input[type="radio"] {
				padding: 0;
                background: none;
				border: 0;
                }
input[type="image"],input[type="submit"] {
    cursor:pointer;
}
/*************** Notifications ***************/

.notification {
                position: relative;
                margin: 0 0 15px 0;
                padding: 0;
                border: 1px solid;
                background-position: 10px 11px !important;
                background-repeat: no-repeat !important;
                font-size: 13px;
                width: 99.8%;
                }
                

.attention {
                background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
                border-color: #e6db55;
                color: #666452;
                }

.information {
                background: #dbe3ff url('../images/icons/information.png');
                border-color: #a2b4ee;
                color: #585b66;
                }

.success {
                background: #d5ffce url('../images/icons/tick.png');
                border-color: #9adf8f;
                color: #556652;
                }

.error {
                background: #ffcece url('../images/icons/cross.png');
                border-color: #df8f8f;
                color: #665252;
                }

.notification div {
                display:block;
                font-style:normal;
                padding: 10px 10px 10px 36px;
                line-height: 1.5em;
                }

.notification .close {
    color: #990000;
    font-size: 9px;
    position: absolute;
    right: 5px;
    top: 5px;
}

/* Notification for login page */

#login-wrapper #login-content .notification {
				border: 0;
				background-color: #141414;
				color: #fff !important;
				}

/********************************      Login Page      ********************************/

body#login {
                color: #fff;
                background: #222 url('../images/bg-login.gif');
				}
				
#login-wrapper {
                background: url('../images/bg-login-top.png') top left repeat-x;
				}

#login-wrapper #login-top {
				width: 100%;
				padding: 140px 0 50px 0;
				text-align: center;
				}
				
#login-wrapper #login-content {
				text-align: left;
				width: 300px;
				margin: 0 auto;
				}
				
#login-wrapper #login-content label {
				color: #fff;
				font-weight: normal;
				font-size: 14px;
				font-family: 'Microsoft Sans Serif', Arial, sans-serif;
				float: left;
				width: 70px;
				padding: 0;
				}
				
#login-wrapper #login-content input {
				width: 200px;
				float: right;
				margin: 0 0 20px 0;
				border: 0;
				background: #fff;
				}
				
#login-wrapper #login-content p {
				padding: 0;
				}
				
#login-wrapper #login-content p#remember-password {
				float: right;
				}
				
#login-wrapper #login-content p#remember-password input {
				float: none;
				width: auto;
				border: 0;
				background: none;
				margin: 0 10px 0 0;
				}
				
#login-wrapper #login-content p .button {
				width: auto;
				margin-top: 20px;
				}

/********************************      Dialog         ********************************/
.MaskDialog
{
	width:100%;
	height:100%;
	background-color:#eeeeee;
	filter: Alpha( Opacity=40, FinishOpacity=90, Style=2 );
	opacity: 0.40;
	position:fixed;
	left:0px;
	top:0px;
	z-index:5;

	}

.Dialog
{
	width:700px;
	background-color:white;
	position:fixed;
	/*left:250px;*/
	top:70px;
	z-index:10;
	padding:10px;
	border-style:solid;
	border-color:gray;
	border-width:1px;
	}

.Dialog_Picture
{
	width:850px;
	background-color:white;
	position:fixed;
	left:200px;
	top:20px;
	z-index:10;
	padding:10px;
	border-style:solid;
	border-color:gray;
	border-width:1px;
	}

/********************************      Ajax Toolkit     ********************************/

/*************** Calendar *************/
.ajax__calendar td
{
	padding:0px !important;
	}

.ajax__calendar_container
{
	background-color: #fafafa; border:solid 1px #eeeeee;
	}

.ajax__calendar_header
{
	background-color: #ffffff; margin-bottom: 4px;
	} 

.ajax__calendar_title,
.ajax__calendar_next,
.ajax__calendar_prev
{
	color: #004080; padding-top: 3px;
	}

.ajax__calendar_body
{
	background-color: #fcfcfc;
	}

 .ajax__calendar_dayname
{
	text-align:center; font-weight:bold; margin-bottom: 4px; margin-top: 2px;
	} 

.ajax__calendar_day
{
	text-align:center;
	}

.ajax__calendar_hover .ajax__calendar_day,
.ajax__calendar_hover .ajax__calendar_month,
.ajax__calendar_hover .ajax__calendar_year,
.ajax__calendar_active
{
	color: #004080; font-weight:bold; background-color: #ffffff;
	}

.ajax__calendar_today
{
	font-weight:bold;
	} 

.ajax__calendar_other,
.ajax__calendar_hover .ajax__calendar_today,
.ajax__calendar_hover .ajax__calendar_title
{
color: #bbbbbb;
}
/*************** Accordian *************/
/*************** Combobox *************/
    .ajax__combobox_inputcontainer
    {
    	padding:0px;
    	margin:0px;
    	border-bottom:none 0px !important;
    	}
    .ajax__combobox_textboxcontainer
    {
    	background-color:inherit;
    	border:none 0px;
    	}
    .ajax__combobox_buttoncontainer
    {
    	 width:12px;
    	 height:12px;
    	 border:1px solid gray;
    	 padding:0px;
    	}
    .ajax__combobox_itemlist
    {
    	
    	}
/*************** Combobox *************/

.updateProgress
{
	border:none;
	background-color: #FFFFFF;
	position: absolute;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
	opacity: 0.50;
}

/*************** Pdma *************/
.PDMA_CS_0
{
    background-color:White
}

.PDMA_CS_1
{
    background-color:#00b0f0
}

.PDMA_CS_2
{
    background-color:#00b050
}

.PDMA_CS_3
{
    background-color:#92d050
}

.PDMA_CS_4
{
    background-color:#ffff00
}

.PDMA_CS_5
{
    background-color:#ffc000
}

.PDMA_CS_6
{
    background-color:#ff0000
}

.PDMA_CS_7
{
    background-color:#c00000
}

.PDMA_Eccentricity
{
    background-color:White
}

.PDMA_Eccentricity_Good
{
    background-color:#92d050
}

.PDMA_Eccentricity_Moderate
{
    background-color:#ffff00
}

.PDMA_Eccentricity_Severe
{
    background-color:#ff0000
}

.PDMA_PI
{
    background-color:White
}

.PDMA_PI_Good
{
    background-color:#92d050
}

.PDMA_PI_Observe
{
    background-color:#ffff00
}

.PDMA_PI_Caution
{
    background-color:#ffc000
}

.PDMA_PI_Severe
{
    background-color:#ff0000
}



th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.table_inspection {
    background-color:white;
    width:100%;
    border-bottom:none;
    margin-top:40px;
    margin-bottom:40px;
}

.table_inspection th {
    background-color:#FAFAFA;
    text-align:center;
    border-bottom:1px solid #eeeeee;
}

.table_inspection td {
    text-align:center;
    border-bottom:1px solid #eeeeee;
    color:#999;
}