﻿body {
    overflow:hidden;
    font-weight:unset;
}

object::-webkit-scrollbar {
    width: 1em;
}

object::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
object::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.site-navbar .navbar-container {
      margin-left: 0px;
      background-color: rgb(38, 50, 56);
    }

@media (min-width: 768px){
    .site-navbar .navbar-container {
      margin-left: 0px;
      background-color: rgb(38, 50, 56);
    }
}

.navbar-default .navbar-toolbar > li > a {
    color:white;
}

.navbar-default .navbar-toolbar > li > a:hover {
    color:aquamarine;
}

.Media-Placeholder {
    position:absolute;
    bottom:0;
    left:0;
    right:300px;
    top:66px;
    padding:0;
    background-color:#76838f;
}


.Media-Placeholder .preview
{
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
}

.Media-Placeholder  object
{
    width:100%;
    height:100%;
    text-align:center;
    vertical-align:middle;
}

.Form-Placeholder {
    float:right;
    right:0;
    width:300px;
    background-color:green;
}
