﻿.navbar-brand {
    padding: 20px 10px;
}

.navbar-brand-text {
    margin-left: 40px;
    margin-top: -35px;
}

.site-navbar {
    background-color: #006699;
}

@media screen and (min-width: 678px) and (max-width: 767px) {
    .navbar-brand-text {
    margin-top: -25px;
    }
}

.site-gridmenu-toggle:after {
    content:none;
}

.site-menubar-section {
    margin-top: 10px;
    margin-bottom:unset;
    display:none;
}

.popup-search {
    position: absolute;
    width:100%;
    /* top: 100%; */
    /* left: 0; */
    z-index: 1100;
    /* display: none; */
    /* float: left; */
    min-width: 160px;
    padding: 15px 15px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    /* list-style: none; */
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.radio-custom, .checkbox-custom {
    margin-top:unset;
    margin-bottom:unset;
}

.table-input .form-control{
    border:none; 
    height: unset; 
    padding:0; 
    background-color:transparent;
    color:green;
    font-size:12px;
    font-weight:200;
    text-align:center;
    text-align-last:center;
}

.border-bottom-solid-blue {
    background-color:transparent;
    color:green;
    font-weight:500;
    border-top:none; 
    border-left:none; 
    border-right:none; 
    border-radius:0;
    border-bottom:1px solid #62a8ea !important;
}

.table-input .caption {
    font-weight:200;
    font-size:12px;
}

.table-input td {
    text-align:center;
}

.table-input .cell-caption{
    background-color: #eeeeee;
    /*color:white;*/
    border-color:#fcfcfc;
}

@media (max-width: 767px) {
    .PC-Only {
        display: none;
    }

    .dialog-keyfactor {
        left: 0px;
        width: 100%;
    }
}

@media (max-width: 480px) {
}

.page-aside-section:first-child {
    padding-top: unset;
}

.dialog-keyfactor {
    width: 400px;
    left: -webkit-calc(50% - 300px);
}

.menu-top-right {
    position:absolute; 
    right:0; 
    top:0; 
    padding: 20px 20px;
}

