﻿.menu_title#aLogo {
    padding:0px 0px 0px 5px !important;
    height:30px;
}

#svg_source_container {
    padding-bottom: 65px;
}

#zoom_panel div {
    display:inline-block;
}

#zoomLabel {
    margin-top:5px;
}
#zoomCaret {
    margin-top:unset;
}
#zoom_label input {
    margin-top:5px;
}

#divCommand {
    position:absolute; 
    bottom:0px;
    width:100%;
    height:30px;
    padding-bottom:10px;
    background-color:white;
}
        
#divCommand input[type=submit], #divCommand input[type=button] {
    width:40%;
    margin-right:10px;
    }

.column-left {
    width:100% !important;
}

 #svg_editor .jPicker td.Radio {
    width:35px;
}

#svg_editor .jPicker td.Text input {
    border: 1px solid #aaa;
}

label.draginput {
    padding-bottom:unset;
}

.draginput .caret {
    margin-top:-5px;
}

.select {
    padding:unset;
    border:unset;
}

#tools_top,#tools_bottom {
    right:250px;      
}
div#workarea {
    right:425px !important;
}

#menu_bar {
    padding:0px;
    position: absolute;
    right: 250px;
    left: 0px;
    z-index:unset;
}

#ruler_x {
    right:425px;
}

#pnlInfo {
    position:absolute;
    width:250px;
    right:0px;
    height:100%;
    border:none;
}

.content-box-content {
    padding-top:10px;
}

.content-box {
    width:250px;
    display:inline-block;
    height: 100%;
    position: absolute;
}